<?xml version="1.0"?>
<config>
    <modules>
        <Degriz_Gdprnewsletter>
            <version>1.0.1</version>
        </Degriz_Gdprnewsletter>
    </modules>
    <frontend>
        <routers>
            <degriz_gdprnewsletter>
                <args>
                    <modules>
                        <Degriz_Gdprnewsletter>Degriz_Gdprnewsletter</Degriz_Gdprnewsletter>
                    </modules>
                </args>
            </degriz_gdprnewsletter>
        </routers>
        <layout>
            <updates>
                <degriz_gdprnewsletter>
                    <file>degriz/degriz_gdprnewsletter.xml</file>
                </degriz_gdprnewsletter>
            </updates>
        </layout>
        <translate>
            <modules>
                <Degriz_Gdprnewsletter>
                    <files>
                        <default>Degriz_Gdprnewsletter.csv</default>
                    </files>
                </Degriz_Gdprnewsletter>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Degriz_Gdprnewsletter>
                    <files>
                        <default>Degriz_Gdprnewsletter.csv</default>
                    </files>
                </Degriz_Gdprnewsletter>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <blocks>
            <degriz_gdprnewsletter>
                <class>Degriz_Gdprnewsletter_Block</class>
            </degriz_gdprnewsletter>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Degriz_Gdprnewsletter_Block_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <degriz_gdprnewsletter>
                <class>Degriz_Gdprnewsletter_Helper</class>
            </degriz_gdprnewsletter>
        </helpers>
        <models>
            <degriz_gdprnewsletter>
                <class>Degriz_Gdprnewsletter_Model</class>
            </degriz_gdprnewsletter>
            <newsletter>
                <rewrite>
                    <subscriber>Degriz_Gdprnewsletter_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
    </global>
    <default>
        <degriz_gdprnewsletter>
            <general>
                <isactive>0</isactive>
            </general>
            <quickcheckout>
                <isactive>0</isactive>
            </quickcheckout>
        </degriz_gdprnewsletter>
    </default>
</config>